<%= render Polaris::Page::Component.new(title: 'About') do %>
  <h2>Products</h2>
  <div id="products">
    <% @products.each do |product| %>
      <p><%= product.title %></p>
    <% end %>
  </div>
  <h2>Webhooks</h2>

  <% if @webhooks.present? %>
    <ul>
      <% @webhooks.each do |webhook| %>
        <li><%= webhook.topic %> : <%= webhook.address %></li>
      <% end %>
    </ul>
  <% else %>
    <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
  <% end %>
<% end %>
